<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Employee Form</title>
    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!-- Font-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Employee_Form_Static/css/montserrat-font.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Employee_Form_Static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}"
    />
    <!-- Main Style Css -->
    <link
      rel="stylesheet"
      href="{% static 'Employee_Form_Static/css/style.css' %}"
    />

    <!-- favicons
    ================================================== -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link rel="manifest" href=" {% static 'site.webmanifest' %}" />
    <link
      rel="shortcut icon"
      href=" {% static 'favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="icon" href=" {% static 'favicon.ico' %}" type="image/x-icon" />
  </head>
  <body class="form-v10">
    <div class="page-content">
      <div class="form-v10-content" style="width: 1800px">
        <form class="form-detail" action="" method="POST" id="myform">
          {% csrf_token %}
          <div class="form-left">
            <h2>General Infomation</h2>

            <div class="form-row form-row-1">
              <input
                type="text"
                name="your_name"
                id="your_name"
                class="input-text"
                placeholder="Your Name * e.g. Hassan Raza"
                required
              />
            </div>
            <div class="form-row form-row-2">
              <input
                type="text"
                name="father_name"
                id="father_name"
                class="input-text"
                placeholder="Father Name * e.g. Jahangir Akhter"
                required
              />
            </div>
            <div class="form-row form-row-3">
              <input
                type="text"
                name="gender"
                id="gender"
                class="input-text"
                placeholder="Gender * e.g. Male | Female"
                required
              />
            </div>

            <div class="form-row form-row-1">
              <input
                type="text"
                name="age"
                id="age"
                class="input-text"
                placeholder="Age * e.g. Eighteen"
                required
              />
            </div>
            <div class="form-row form-row-2">
              <input
                type="text"
                name="height_weight"
                id="height_weight"
                class="input-text"
                placeholder="Height & Weight * e.g. H=5ft (60″)	& W=97 to 123 lbs."
                required
              />
            </div>
            <div class="form-row form-row-3">
              <input
                type="text"
                name="date_of_birth"
                id="date_of_birth"
                class="input-text"
                placeholder="Date Of Bith * e.g. February 12,2001"
                required
              />
            </div>

            <div class="form-row form-row-1">
              <input
                type="text"
                name="marital_status"
                id="marital_status"
                class="input-text"
                placeholder="Marital Status * e.g. Married | Mot Married"
                required
              />
            </div>
            <div class="form-row form-row-2">
              <input
                type="text"
                name="languages_known"
                id="languages_known"
                class="input-text"
                placeholder="Languages Known * e.g. Urdu,English and German"
                required
              />
            </div>
            <div class="form-row form-row-3">
              <input
                type="text"
                name="country"
                id="country"
                class="input-text"
                placeholder="Country * e.g. Pakistan"
                required
              />
            </div>

            <div class="form-row form-row-1">
              <input
                type="text"
                name="present_address"
                id="present_address"
                class="input-text"
                placeholder="Present Address * e.g. Peshawar Pakistan"
                required
              />
            </div>
            <div class="form-row form-row-2">
              <input
                type="text"
                name="permanent_address"
                id="permanent_address"
                class="input-text"
                placeholder="Permanent Address * e.g. Lahore Pakistan"
                required
              />
            </div>
            <div class="form-row">
              <input
                type="text"
                name="email"
                class="input-text"
                id="email"
                placeholder="Email * e.g. hassan@gmail.com"
                pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
                required
              />
            </div>
            <div class="form-row">
              <input
                type="text"
                name="phone"
                class="input-text"
                id="phone"
                placeholder="Phone * e.g. +923400115566"
                required
              />
            </div>
          </div>

          <div class="form-right">
            <h2>Job Details</h2>
            <div class="form-row">
              <input
                type="text"
                name="title"
                class="input-text"
                id="title"
                placeholder="Title * e.g. Data Scientist"
                required
              />
            </div>
            <div class="form-row">
              <input
                type="text"
                name="employee_id"
                class="input-text"
                id="employee_id"
                placeholder="Employee ID * e.g. DS4444Sceintist"
                required
              />
            </div>

            <div class="form-row form-row-1">
              <input
                type="text"
                name="date_of_appointment"
                class="input-text"
                id="date_of_appointment"
                placeholder="Date Of Appointment * e.g. February 1, 2001"
                required
              />
            </div>
            <div class="form-row form-row-2">
              <input
                type="text"
                name="date_of_confirmation"
                class="input-text"
                id="date_of_confirmation"
                placeholder="Date Of Confirmation * e.g. February 10, 2001"
                required
              />
            </div>
            <div class="form-row form-row-3">
              <input
                type="text"
                name="date_of_joining"
                class="input-text"
                id="date_of_joining"
                placeholder="Date Of Joining * e.g. February 15, 2001"
                required
              />
            </div>
            <div class="form-row form-row-3">
              <input
                type="text"
                name="department_posted"
                class="input-text"
                id="department_posted"
                placeholder="Department In Which Posted * e.g. Data Scientist Department"
                required
              />
            </div>

            <div class="form-row form-row-1">
              <input
                type="text"
                name="monthly_contribution"
                class="input-text"
                id="monthly_contribution"
                placeholder="Monthly Contribution * e.g. 500K"
                required
              />
            </div>
            <div class="form-row form-row-2">
              <input
                type="text"
                name="education_qualification"
                class="input-text"
                id="education_qualification"
                placeholder="Education Qualification * e.g. PHD,MSC and BCS in Computer Science"
                required
              />
            </div>
            <div class="form-row form-row-3">
              <input
                type="text"
                name="professional_qualification"
                class="input-text"
                id="professional_qualification"
                placeholder="Professional Qualification * e.g. As a Data Scientist. Work 5-year in IBM and Google Company"
                required
              />
            </div>
            <div class="form-row-last" style="padding-left: 0px">
              <input
                type="submit"
                class="register"
                style="margin: 6px 0 50px 60px; font-size: 30px; width: 775px"
                form="myform"
                formmethod="POST"
                value="Submit Information"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
